.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header{
    height: 50px;
    background: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

td, th{
    vertical-align: middle !important;
    text-align: center;
    font-size: 20px;
}

.icon{
    cursor: pointer;
    font-size: 25px;
}

.addButton{
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .table th{
        padding: 0.4rem !important;
    }
}

@media screen and (max-width: 768px) {
    .table th,td{
        padding: 0.1rem  !important;
    }
    td, th{
        font-size: 10px;
    }
}

@media screen and (max-width: 490px) {
    td, th{
        font-size: 10px;
    }
    .photo{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .icon{
        font-size: 15px;
    }
    .delOrNo svg{
        font-size: 15px !important;
    }
}